{% extends 'base.html' %}
{% load staticfiles %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block contenid %}


<div class="">
<div class="row">
<div class="col-md-12">
    <div class="card">
  <div class="card-header" data-background-color="orange">
      <h2 class="title text-center">Historia</h2>
  </div>
  <div class="card-content table-responsive">
<div id="calendar"></div>
</div>
</div>
</div>
</div>

</div>
{% endblock %}


{% block jscript %}




{% endblock %}