
{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ titulo }}</title>
      <link href="/static/css/sweetalert.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/css/index.css">
 <link href="/static/css/alertify.core.css" rel="stylesheet" type="text/css"/>
      <link href="/static/css/alertify.bootstrap.css" rel="stylesheet" type="text/css"/>
    <!--JQUERY-->


    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/alertify.js" type="text/javascript"></script>
    <script src="/static/js/sweetalert.min.js" type="text/javascript"></script>
    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">

</head>
<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-10 main-section">
            <div class="modal-content">


                <form class="col-17" method="post" id="frm-login">

                    {% csrf_token %}
                    <div class="form-group">
                        <br>    <h4> TALLER CAROLINA HERRERA</h4></br>
  </div>
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" name="usuario"/>
                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="Contrasena" name="password"/>
                    </div>
                    <button type="submit" id="btnlogin" class="btn btn-success"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>

</form>
                <div class="col-12 forgot">
          <a   href="#smodal" rel="action"  data-json='{"action":"elim"}'
                    ></a>
                    <a href="/scmi/recuperar/"  id="" data-target="#miModal">
 Recordar contrasena
</a>
                </div>

            </div>
        </div>
    </div>


  <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Esto es un modal</h4>
			</div>
			<div class="modal-body">
				Texto del modal
			</div>
		</div>
	</div>
</div>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/all.js"></script>
    <script>
            {% if messages %}



            {% endif %}   {% for message in messages %}
                    swal('Información!', '{{ message }}');



                {% endfor %}
    </script>
<script>

    $(function () {
        $('#frm-login').on({
            submit: function (e) {
                e.preventDefault();
                var frmData = new FormData($(this)[0]);
                //$('#btnlogin').attr('disabled', true);

                $.ajax({
                    url: '/seguridad/login/',
                    data: frmData,
                    method: 'POST',
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $('.loading span').html('Verificando..');
                        $('.loading i').removeClass('glyphicon glyphicon-log-in');
                        $('.loading i').addClass('fa fa-refresh glyphicon-refresh-animate');
                    }
                }).done(function (data) {
                    if (data.resp == true) {

                        window.location = '/';
                        return false;
                    }
                    swal("Error",data.error);
                    //alertify.alert(data.error);
                    $('.loading span').html('Iniciar Session');
                    $('.loading i').removeClass('fa fa-refresh glyphicon-refresh-animate');
                    $('.loading i').addClass('glyphicon glyphicon-log-in');
                    $('#btnlogin').attr('disabled', false);

                }).fail(function () {
                      swal("Error","Problemas de conexion con el servidor");

                });
            }
        });
    });
</script>
</body>
</html>
