{% extends 'base.html' %}
{% load staticfiles %}
{% block contenid %}
    <div class="panel-body">
        <div class="panel panel-info">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row-fluid">
                        <h2>DETALLE DE {{ model }}</h2>
                    </div>
                </div>
                <TABLE BORDER class="table table-hover table-bordered table-responsive pt-1 col-sm-1-24">
                    <TR><TH>Codigo:</TH>
                        <TD>{{ pedido.id }}</TD>
                    <TR><TH>Cliente</TH>
                        <TD>{{ pedido.cliProentidad.nombre }}</TD>
                    <TR><TH>Fecha de Entrega</TH>
                        <TD>{{ pedido.fecentrega }}</TD>
                    <TR><TH>Total Establecido</TH>
                        <TD>&#36;{{ pedido.coutainicial }}</TD>
                    <TR><TH>Abono</TH>
                        <TD>&#36;{{ pedido.abono }}</TD>
                </TABLE>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-responsive pt-1 col-sm-1-24" id="websendeos">
                    <thead class="bg-primary">
                    <tr>
                        <th>
                            #Codigo
                        </th>
                        <th>
                            Articulo
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Precio/u
                        </th>
                        <th>
                            Abono
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in pedidodetalle %}
                        <tr >
                            <td>{{ c.articulo.id}}</td>
                            <td>{{ c.articulo.nombre }}   {{ c.articulo.descripcion }}</td>
                            <td>{{ c.cantidad }}</td>
                            <td>&#36;{{ c.articulo.precio }}</td>
                            <td>&#36;{{ c.abono }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No existen Registros</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-offset-8">
    <button type="button" class="btn btn-primary" id=""
            onclick="window.location='{{ ruta }}'">
        Regresar
    </button>
   <button type="button" class="btn btn-success" id="btnPdf"
        ><i class="fa fa-print" aria-hidden="true"></i>
            Imprimir
        </button>
    </div>
{% endblock %}

{% block jscript %}
    <script>
        $('#websendeos').stacktable();
        $(function () {
            var logo = new Image();
            logo.src = '/static/img/metal.jpg';
            var columns = ["#Articulo", "Descripcion", "Cantidad", "Precio/u","Abonado"];
            var data = [
                {% for c in pedidodetalle %}
                    ['{{  c.articulo.nombre  }}', '{{c.articulo.descripcion}}',
                        '{{ c.cantidad }}', '${{ c.articulo.precio  }}','$'+{{ c.abono }} ],
                {% endfor %}
        ];

            $('#btnPdf').click(function () {
                //Crear documento PDF con horientación vertical
                var doc = new jsPDF('p', 'pt','a4');
                //dibujar un cuadrado
                doc.setDrawColor(0);
                doc.setFillColor(13, 113, 171);
                doc.rect(430, 10, 150, 30, 'F');
                //Escribir en el documento con la función doc.text(x, y, texto);
                doc.setTextColor(31, 32, 31);
                var fac="Codigo:\n{{ pedido.id }}"
                    +'\n\n'+"Cliente:\n{{ pedido.cliProentidad.nombre }}"+'\n\n'+"Fecha de Pedido:\n{{ pedido.fecentrega  |date:"M d, Y" }}";
                //x,y,ancho,alto
                // doc.line(100, 100, 500, 60); // horizontal line
                //Fuente
                //doc.setFont('helvetica');
                //Tipo de letra negrita
                //doc.setFontType('bold');
                doc.setFont("courier");
                doc.setFontType("bolditalic");
                doc.setFontSize(14);
                //Tamaño de letra 12
                // x ,y
                //doc.text(fac, 30,40);// set your margins
                doc.text(fac, 40,55);// set your margins
                doc.setFontSize(8);
                doc.text('Dirección: \n'+'{{ empresass.direcion }}', 420,150);// set your margins
                doc.text('Celular: \n'+'{{ empresass.celular }}', 420,180);// set your margins
                doc.setFontSize(26);
                //Tamaño de letra 12
                // x ,y
                doc.setTextColor(252, 252, 252);
                doc.text('PEDIDO', 450, 30);// set your margins
                doc.setFillColor(13, 113, 171);
                doc.rect(420, 195, 110, 55, 'F');
                doc.setFontSize(10);
                doc.text('Abonado $'+{{ pedido.abono }}, 425, 215);// set your margins
                doc.setFontSize(10);

                doc.setFontSize(10);
                doc.text('Total:$'+{{ pedido.coutainicial }}, 425, 245);// set your margins
                //Agregar imagen, funcion doc.addImage(src, tipo, x, y, ancho, alto);
                //doc.addImage(logo, 'JPG', 20, 10, 110, 120);
                // doc.addImage(logo, 'JPG', 460, 50, 100, 100);
                doc.addImage(logo, 'JPG', 460, 50, 100, 90);
                //doc.setTextColor(0, 0, 0);
                let pageNumber = doc.internal.getNumberOfPages();
                doc.autoTable(columns,data,
                    {
                        styles: {overflow: 'linebreak', cellWidth: 'wrap'},
                        margin:{ top: 280},
                        theme:'striped',
                        columnStyles: {text: {cellWidth: 'auto'}},
                    }
                );
                doc.save('Pedido:'+"{{ pedido.id }}"+'.pdf');
            });
        });
    </script>
{% endblock %}
